<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password | EDEZE</title>
  <script src="https://kit.fontawesome.com/22e3c77d69.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Manrope:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/home.css">
  <link rel="stylesheet" href="/static/css/forgot-pass.css">

</head>
<body>
    <header>
        <div class="container">
            <div class="contact">
                <span> <a href="https://www.gmail.com/"><img src="/static/images/mail_icon.svg" alt="">demo@edeze.com </a></span>
      
                <span><img src="/static/images/call_icon.svg" alt="">9348949096</span>
            </div>
      
            <div class="social">
                <span>Follow us on:</span>
                <a href="https://www.instagram.com/"><img src="/static/images/Insta_icon.svg" alt=""></a>
                <a href="https://www.youtube.com/"><img src="/static/images/youtube_icon.svg" alt=""></a>
                <a href="https://www.facebook.com/"><img src="/static/images/Facebook_icon.svg" alt=""></a>
                <a href="https://www.linkedin.com/"><img src="/static/images/linkedin_icon.svg" alt=""></a>
                <span >contact us</span>
            </div>
        </div>
      
        <div class="container nav">
          
            <div class="left-part">
                <a href=""><img src="/static/images/logo.svg" alt="logo" class="logo"></a>
                <div class="search-box">
                    <input type="text" id="search" placeholder="search">
                    <button type="submit" onclick="search()"><i class="fa-solid fa-magnifying-glass icon-search"></i></button>
                </div>
            </div>
      
            <div class="right-part">
                <a href="#about">About us</a>
                <button class="joinUs secondary-btn" id="">Join Us</button>
               <a href="login.html"><button class="login primary-btn" id="Login">Login/SignUp</button></a> 
            </div>
        </div>
      </header>

<section>
  <div class="forgot-pass-container">
    <div class="pass-form">
        <div class="left">
            <img src="/static/images/logo.svg" alt="">
            <h2>Reset Your Psaaword</h2>
            <h3>Back to <a href="login.html">login</a></h3>
        </div>
        <div class="right">
            <form action="">
            <h2>Reset Password</h2>
            <label for="email">Your Email Address</label>
            <input type="text" placeholder="Your Email Address" name="email" required>
            <button class="login" type="submit">send OTP</button>
            </form>
        </div>
    </div>
  </div>
</section>



</body>
</html>