<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Our Team || EDEZE</title>
        <script src="https://kit.fontawesome.com/22e3c77d69.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Manrope:wght@400;500;600&display=swap" rel="stylesheet">
        <!-- link swiper's css -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/our_team.css">
    </head>
    <body>
        <div class="our_team_header">
            <img src="/static/images/our_team_header_bg.png" alt="Our Team" width="100%" height="220">
            
            <h1>Our Team</h1>
            <p class="description">Description goes here.</p>
        </div>
        <h2>Meet our team</h2>
        <p class="span-text">We deliver quality services to our customers only because of our qualified and efficient team.<span style="color: #3582EC; font-weight: 700;">Our trainers and consultants are with years of industry experience and leaders in their field</span> .</p>
        <p class="span-text">All our trainers are accredited to deliver the courses and with consulting and assessment experience, so they bring real practical experience to the class room.</p>
        <div class="content-container">
            <div class="description-container">
                <div class="about-member">
                    <div class="about-member-1">
                        <h1>
                            Sambit Kumar Parida
                        </h1>
                        <h2>
                            Team Lead
                        </h2>
                        <p>
                            With good development experience in mobile application with flutter including a vast knowledge in database management system. A good leader in managing project.
                        </p>
                    </div>
                        <button class="primary-btn" id="linkedin1" onclick="window.location.href='https://www.google.com'"><img src="/static/images/linkedin_icon.svg" alt="linkedin">
                            <p>View on Linkedin</p></button>
                </div>
                <img src="/static/images/sambit.jpg" alt="member" class="profile">
                <div class="Specialization">
                    <h1>Area of Specialization</h1>
                    <ul>
                        <li>Flutter</li>
                        <li>Sqllite</li>
                        <li>Project Management</li>
                    </ul>
                </div>
            </div>

            <div class="description-container">
                <div class="about-member">
                    <div class="about-member-1">
                        <h1>
                            Abhisek Nanda
                        </h1>
                        <h2>
                            Backend Developer
                        </h2>
                        <p>
                            With a good experience in Python and Data Science. Well habituate in fast api and flask. A sound learner of metaverse.
                        </p>
                    </div>
                        <button class="primary-btn" id="linkedin2" onclick="window.location.href='https://www.google.com'"><img src="/static/images/linkedin_icon.svg" alt="linkedin">
                            <p>View on Linkedin</p></button>
                </div>
                <img src="/static/images/abhishek.jpg" alt="member" class="profile">
                <div class="Specialization">
                    <h1>Area of Specialization</h1>
                    <ul>
                        <li>Python</li>
                        <li>Sqllite</li>
                        <li>Jinja</li>
                    </ul>
                </div>
            </div>

            <div class="description-container">
                <div class="about-member">
                    <div class="about-member-1">
                        <h1>
                            Bikash Kumar Nayak
                        </h1>
                        <h2>
                            Frontend Developer
                        </h2>
                        <p>
                            With a good experience in web development with html,css and java script. Expert in logical and statistical analysis.
                        </p>
                    </div>
                        <button class="primary-btn" id="linkedin3" onclick="window.location.href='https://www.google.com'"><img src="/static/images/linkedin_icon.svg" alt="linkedin">
                            <p>View on Linkedin</p></button>
                </div>
                <img src="/static/images/bikash.jpg" alt="member" class="profile">
                <div class="Specialization">
                    <h1>Area of Specialization</h1>
                    <ul>
                        <li>Html</li>
                        <li>Css</li>
                        <li>Java Script</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-container">
            <div class="description-container">
                <div class="about-member">
                    <div class="about-member-1">
                        <h1>
                            Pooja Sainy Nanda
                        </h1>
                        <h2>
                            UI/UX Designer
                        </h2>
                        <p>
                            With a good experience in designing. Very good at making ui/ux through figma. Sound knowledge in handling projects.
                        </p>
                    </div>
                        <button class="primary-btn" id="linkedin4" onclick="window.location.href='https://www.google.com'"><img src="/static/images/linkedin_icon.svg" alt="linkedin">
                            <p>View on Linkedin</p></button>
                </div>
                <img src="/static/images/pooja.jpg" alt="member" class="profile">
                <div class="Specialization">
                    <h1>Area of Specialization</h1>
                    <ul>
                        <li>UI/UX</li>
                        <li>Figma Designing</li>
                        <li>Database Design</li>

                    </ul>
                </div>
            </div>

            <div class="description-container">
                <div class="about-member">
                    <div class="about-member-1">
                        <h1>
                            Kavita Rawat
                        </h1>
                        <h2>
                            Product Analysis
                        </h2>
                        <p>
                            With a good knowledge in product analysis. Good at making documentation through ms word, ms powerpoint.
                        </p>
                    </div>
                        <button class="primary-btn" id="linkedin5" onclick="window.location.href='https://www.google.com'"><img src="/static/images/linkedin_icon.svg" alt="linkedin">
                            <p>View on Linkedin</p></button>
                </div>
                <img src="/static/images/kavita.jpg" alt="member" class="profile">
                <div class="Specialization">
                    <h1>Area of Specialization</h1>
                    <ul>
                        <li>Microsoft Word</li>
                        <li>Microsoft Powerpoint</li>

                    </ul>
                </div>
            </div>

            <div class="description-container">
                <div class="about-member">
                    <div class="about-member-1">
                        <h1>
                            Vandana Singh
                        </h1>
                        <h2>
                            Frontend Developer
                        </h2>
                        <p>
                            With a good knowledge in flutter and mobile application. A sound developer of frontend in web development.
                        </p>
                    </div>
                        <button class="primary-btn" id="linkedin6" onclick="window.location.href='https://www.google.com'"><img src="/static/images/linkedin_icon.svg" alt="linkedin">
                            <p>View on Linkedin</p></button>
                </div>
                <img src="/static/images/vandana.jpg" alt="member" class="profile">
                <div class="Specialization">
                    <h1>Area of Specialization</h1>
                    <ul>
                        <li>Flutter</li>
                        <li>Html</li>
                        <li>Css</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>