*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    height: 100%;
    width: 100%;
    font-family: 'DM Serif Text', serif;
    font-family: 'Manrope', sans-serif;
}
button:hover{
    cursor: pointer;
}
body::-webkit-scrollbar{
    display: none;
}
.result-section{
    margin: 20px 40px;
}
.training-result{
    margin-bottom: 30px;
}
.training-result h2{
    color: #454A6D;
    font: normal 500 22px/26px "DM Serif Text", sans-serif;
    letter-spacing: 1px;
}
.course-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
}
.course{
    /* flex-basis: 20%; */
    border: 1px solid rgb(223, 223, 223) ;
    border-radius: 10px;
    margin-bottom: 30px;
}
.course img{
    width: 100%;
    height: 150px;
}
.course h4{
    color: #000000;
    font: normal 600 16px/22px "Manrope", sans-serif;
    padding: 5px 10px;
}
.course p{
    font: normal 400 14px/19px "Manrope", sans-serif;
    color: #000000;
    padding: 0px 10px 5px 10px ;
    max-width: 240px;
}
.webstore-result h2{
    color: #454A6D;
    font: normal 500 22px/26px "DM Serif Text", sans-serif;
    letter-spacing: 1px;
}
.price{
    padding: 0px 10px 5px 10px;
}
.consulting{
    border: 1px solid rgb(223, 223, 223) ;
    border-radius: 10px;
    margin-bottom: 30px;
}
.consulting img{
    object-fit: cover;
    width: 250px;
    height: 150px;
}
.consulting h4{
    color: #000000;
    font: normal 600 16px/22px "Manrope", sans-serif;
    padding: 5px 10px;
}
.consulting p{
    font: normal 400 14px/19px "Manrope", sans-serif;
    color: #000000;
    padding: 0px 10px 5px 10px ;
    max-width: 240px;
}